<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-warning': appareilStatus === 'inconnu',
                'list-group-item-danger': appareilStatus === 'éteint'}">
  <div style="width:20px;height:20px;background-color:red;"
       *ngIf="appareilStatus === 'éteint'"></div>
       <div style="width:20px;height:20px;background-color:green;"
       *ngIf="appareilStatus === 'allumé'"></div>
       <div style="width:20px;height:20px;background-color:orange;"
       *ngIf="appareilStatus === 'inconnu'"></div>
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
  <input type="text" class="form-control" [(ngModel)]="appareilName">
</li>